<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>WeatherApp</title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <a href="#" class="nav-logo">WeatherApp</a>
        </nav>
    </header>
    <div class="con">
            <div class="con-404">
                <h1>404</h1>
                <h3>page not found!</h3>
            </div>
    </div>
    <footer class="footer">
         <p>Created By <span>Divyesh lakhani</span> ©️2022</p>
    </footer>
</body>
</html>