<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>WeatherApp</title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <a href="#" class="nav-logo">WeatherApp</a>
        </nav>
    </header>
    <div class="con">
        <div class="add-loc">
            <input type="text" placeholder="Enter location" id="city_input" >
            <button id="add_btn">Add</button>
        </div>
        <div class="con-temp">
            <div class="con-box" id="error">
                <div class="top-bar" id="top-bar">
                    <div class="left-bar">
                        <h3 id="day">Monday</h3>
                        <h4 id="date">17 Jan 2022</h4>
                        <h2 id="city">--,-</h2>
                    </div>
                    <div class="right-bar">
                        <h1 id="temp">--℃</h1>
                    </div>
                </div>
                <div class="bottom-bar" id="bottom-bar">
    
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
         <p>Created By <span>Divyesh lakhani</span> ©️2022</p>
    </footer>
    <script src="js/main.js"></script>
</body>
</html>